package incomes

import (
	"fmt"
	"piggy-planner/internal/models"
)

templ IncomeTypesOptions(incomesTypes []models.IncomeType) {
	<option value="0" default disabled selected>Select Income Type</option>
	for _, incomeType := range incomesTypes {
		<option value={ fmt.Sprintf("%v", incomeType.ID) }>{ incomeType.Name }</option>
	}
}
