package incomes

import "github.com/invopop/ctxi18n/i18n"

templ NotFoundSecurityLogs() {
	<tr>
		<td colspan="6" class="text-center text-neutral">{ i18n.T(ctx, "noSecurityLogsFound") }</td>
	</tr>
}
